<div>
<%= form_with model: post do |form|%>
    <div>
        <%= form.label :title%><br>
        <%= form.text_field :title%>
        <%post.errors.full_messages_for(:title).each do |message|%>
            <div><%=message%></div>
            <%end%>
    </div>
    <div>
        <%= form.label :content%><br>
        <%= form.rich_text_area :content%><br>
        <%post.errors.full_messages_for(:content).each do |message|%>
            <div><%=message%></div>
            <%end%>
    </div>
    <div>
        <%= form.label :published_at%>
        <%= form.datetime_select :published_at, include_blank: true%>
    </div>
    <div>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: post.status || 'public'%>
    </div>
    <div>
    <%= form.button%>
    </div>
<%end%>
</div>